<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Banca Electrónica - El Ahorro </title>
    <link rel="stylesheet" href="{% static 'css/soperaciones.css' %}" />
</head>
<body>
	<section class="operaciones1">
		<h1>Gestor de operaciones</h1>
        <a href="http://127.0.0.1:8000/adminCrearCliente/"><button  class="datos">Crear cliente individual</button></a>
		<a href="http://127.0.0.1:8000/Crearclienteemp/"><button  class="datos">Crear cliente empresarial</button></a>
		<a href="http://127.0.0.1:8000/intermedia/"><button  class="datos">Crear tarjeta de Credito</button></a>
		</div>
	</section>
</body>
</html>