<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Banca Electrónica - El Ahorro </title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" />
</head>
<body>
	<section class="login">
		<h4>CREAR CUENTA</h4>
		<form method="POST">
			{% csrf_token %}
			<select name="idUsuario">
				{% for op in list %}
					<option value="{{ op }}">{{ op }}</option>
				{% endfor %}
			</select>
			<select name="marca">
					<option value="puntos">Puntos</option>
					<option value="cashback">Cashback</option>
			</select>
		<button class="datat" type="submit">Ingresar</button>
	</form>
	</section>
</body>
</html>