<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Banca Electrónica - El Ahorro </title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" />
</head>
<body>
	<header>
			<div class="logo">
				<a href="#"><img src="{% static 'image/logo.png' %}" width="150" alt="Banca Electronica"></a>
			</div>
			<nav>
				<a href="http://127.0.0.1:8000/adminlogin/">Administrador</a>
				<a href="http://127.0.0.1:8000/">Banca virtual</a>
			</nav>

		</header>
	<section class="login">
		<h4>INICIO DE SESION</h4>
		<form method="POST">
			{% csrf_token %}
			<select name="idUsuario">
				{% for op in list %}
					<option value="{{ op }}">{{ op }}</option>
				{% endfor %}
			</select>
			{{form.as_p}}
		<button class="datat" type="submit">Ingresar</button>
	</form>
	</section>
</body>
</html>