<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Banca Electrónica - El Ahorro </title>
     <link rel="stylesheet" href="{% static 'css/solicitarprestamo.css' %}" />
</head>
<body>
	<header>
			<div class="logo">
				<a href="#"><img src="{% static 'image/logo.png' %}" width="150" alt="Banca Electronica"></a>
			</div>
			<nav>
				<a href="#">Inicio</a>
				<a href="#">Tansacciones</a>
				<a href="#">Pagos de planillas y proveedores</a>
				<a href="#">Pagos de servicios</a>
				<a href="#">Prestamos</a>
				<a href="#">Estados de cuenta</a>
				<a href="#">Agregar terceros</a>
			</nav>
		</header>
	<section class="login">
		<h1>Solicitud de préstamo</h1>
		<label class="datost">Seleccione una cuenta para solicitar prestamo:</label>
		<select class="datost">
		  	 <option>cuenta 1</option>
			 <option>cuenta 2</option>
			 <option>cuenta 3</option>
			</select>
		<label class="datost">Monto solicitado:</label>
		<input class="datost" type="text" name="monto">
		<label class="datost">Seleccione modalidad de Pagos:</label>
		<select class="datost">
		  	 <option>Pago quincenal</option>
			 <option>Pago mensual</option>
			 <option>Pago trimestral</option>
			</select>
		<button class="bt">Solicitar prestamo</button>
	</section>

</body>
</html>